:root {
  color-scheme: light;
  --p-color-canvas: light-dark(#fff, hsl(225 66.7% 1.2%));
  --p-color-surface: light-dark(hsl(240 10% 95%), hsl(240 2% 10%));
  --p-color-primary: light-dark(hsl(225 66.7% 1.2%), hsl(225 100% 99%));
  --p-color-error: light-dark(hsl(357 78% 41%), hsl(0 96.9% 62%));
  --p-color-focus: light-dark(#1a44ea, #1a44ea);
  --p-color-contrast-medium: light-dark(hsl(240 6.1% 7% / 0.6), hsl(240 12.5% 96.9% / 0.56));
  --p-font-porsche-next: "Porsche Next", "Arial Narrow", Arial, sans-serif;
  --p-font-weight-normal: 400;
  --p-font-weight-semibold: 600;
  --p-typescale-sm: 1rem;
  --p-leading-normal: calc(6px + 2.125ex);
  --p-spacing-static-sm: 8px;
  --p-spacing-static-md: 16px;
  --p-spacing-static-lg: 32px;
  --p-radius-xl: 12px;
  --p-duration-sm: 0.25s;
  --p-ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
}

.scheme-dark {
  color-scheme: dark;
}
